<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="img-background">
    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        <%= image_tag "logo.png", alt: "CocktailSociety", width: 75 %>
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">



          <div id="banner-typed-text">
          </div>
          <div class="form">
            <%= form_tag(cocktails_path, method: :get) do %>
            <%= text_field_tag :term, params[:term] %>
            <%= submit_tag 'Search' %>
            <% end %>
          </div>

        <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
             <%= link_to '', new_cocktail_path, :id => "navbar-wagon-menu", :class => "fas fa-plus dropdown-toggle" %>
          </div>
        </div>
      </div>

      <!-- Dropdown appearing on mobile only -->

    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
